@import "main-nav";

$mainColor: #FD4D0C;
$secColor: #F7DDD4;
$terColor: #FCBA12;
$mainTextColor: #fff;
$secTextColor: darkgray;
$bg-color-1: #1258DC;
$bg-color-2: #342809;

body {
  margin: 0;
  background: $bg-color-1;
  font-family: sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
}
